[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "groq>=0.36.0",
    "psutil>=7.1.3",
    "ptyprocess>=0.7.0",
]
